<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Upload file</title>
</head>
<body>
    <form action="/upload" method = "post" enctype="multipart/form-data">
    <input type="file" id="file" name = "file" /></br>
    <input type="submit" value="Submit"></br></form><br>
    
    </form>
</body>
</html>